Source: wazo-certs
Section: admin
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12)
Standards-Version: 3.9.6

Package: wazo-certs
Architecture: all
# Pre-Depends nginx is only a workaround to fix migration xivo-certs/wazo-certs
# Remove after Bookworm migration
Pre-Depends: nginx
Depends:
 ${misc:Depends},
 openssl,
 python3,
 python3-openssl
Provides: xivo-certs
Replaces: xivo-certs
Conflicts: xivo-certs
Description: Wazo digital certificates
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package manages digital certificates used by Wazo.
