Source: xivo-certs
Section: admin
Priority: optional
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: debhelper (>= 12)
Standards-Version: 3.9.6

Package: xivo-certs
Architecture: all
Depends:
 ${misc:Depends},
 openssl,
 python3,
 python3-openssl
Description: Wazo digital certificates
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package manages digital certificates used by Wazo.
